Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-slicing,
  clang-analyzer-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -modernize-use-trailing-return-type,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: ''
HeaderFilterRegex: '.*\.(hpp|h)$'
FormatStyle: file
