[Unit]
Description=Nettray ping monitor - VPN (%i)
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/local/bin/nettray %i 1.1.1.1 VPN
Restart=on-failure
RestartSec=3
